@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: Kalam;
  font-weight: 700;
  font-display: swap;
  src:
    url('fonts/Kalam-Bold.woff2') format('woff2');
}
@font-face {
  font-family: Kalam;
  font-weight: 400;
  font-display: swap;
  src:
    url('fonts/Kalam-Regular.woff2') format('woff2');
}
@font-face {
  font-family: Kalam;
  font-weight: 300;
  font-display: swap;
  src:
    url('fonts/Kalam-Light.woff2') format('woff2');
}

/* latin */
@font-face {
  font-family: 'FiraGo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('fonts/FiraGO-SemiBold.latin.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'FiraGo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('fonts/FiraGO-Bold.latin.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'FiraGo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url('fonts/FiraGO-Book.latin.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'FiraGo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('fonts/FiraGO-Medium.latin.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'FiraGo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('fonts/FiraGO-Regular.latin.woff2') format('woff2');
}